version: '3.8'

services:
  api:
    build:
      context: ../apps/backend
    restart: on-failure
    ports:
      - "8000:8000"
    volumes:
      - ../apps/backend:/app
    depends_on:
      - db
      - redis
    environment:
      - DATABASE_URL=postgresql+asyncpg://user:password@db:5432/taskmate
      - REDIS_URL=redis://redis:6379/0

  db:
    image: postgis/postgis:15-3.3-alpine
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: taskmate
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    restart: always
    ports:
      - "6379:6379"

volumes:
  postgres_data:
